<h1>Listing vw_users</h1>

<table>
  <tr>
    <th>Party person</th>
    <th>User name</th>
    <th>User uuid</th>
    <th>Hashed password</th>
    <th>Salt</th>
    <th>Account locked</th>
    <th>Days until password expiry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vw_users.each do |vw_user| %>
  <tr>
    <td><%= vw_user.party_person_id %></td>
    <td><%= vw_user.user_name %></td>
    <td><%= vw_user.user_uuid %></td>
    <td><%= vw_user.hashed_password %></td>
    <td><%= vw_user.salt %></td>
    <td><%= vw_user.account_locked %></td>
    <td><%= vw_user.days_until_password_expiry %></td>
    <td><%= link_to 'Show', vw_user %></td>
    <td><%= link_to 'Edit', edit_vw_user_path(vw_user) %></td>
    <td><%= link_to 'Destroy', vw_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Viw user', new_vw_user_path %>
