<div id="ref-index">
  <h2>Reference Data Tables</h2>

  <table>
    <tr>
      <th>Table name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @ref_data_tables.each do |ref_data_table| %>
    <tr class="<%= cycle('index-line-odd', 'index-line-even') %>">
      <td><%= ref_data_table.table_name %></td>
      <td><%= ref_data_table.description %></td>
      <td><%= link_to 'Show', ref_data_table %></td>
      <td><%= link_to 'Edit', edit_ref_data_table_path(ref_data_table) %></td>
      <td><%= link_to 'Maintain', "#{ref_data_table.table_name}" %></td>
    </tr>
  <% end %>
  </table>
</div>
<br/>
<div id="lower-menu">
  <p><%= link_to 'Home', :controller => "home" %></p>
</div>