<div id="ref-show">

<h2>Reference Data Table Details</h2>

<p id="notice"><%= notice %></p>

<table>
<tr>
  <td class="title-cell"><b>Table name</b></td>
  <td><%= @ref_data_table.table_name %></td>
</tr>

<tr>
  <td class="title-cell"><b>Description</b></td>
  <td><%= @ref_data_table.description %></td>
</tr>

<tr>
  <td class="title-cell"><b>Code mandatory</b></td>
  <td><% if @ref_data_table.code_mandatory then %>
    <%= "Yes" %>
  <% else %>
    <%= "No" %>
  <% end %></td>
</tr>

<tr>
  <td class="title-cell"><b>Code min length</b></td>
  <td><%= @ref_data_table.code_min_length %></td>
</tr>

<tr>
  <td class="title-cell"><b>Code max length</b></td>
  <td><%= @ref_data_table.code_max_length %></td>
</tr>

<tr>
  <td class="title-cell"><b>Code format</b></td>
  <td><%= @ref_data_table.code_format %></td>
</tr>

<tr>
  <td class="title-cell"><b>Description mandatory</b></td>
  <td><% if @ref_data_table.description_mandatory then %>
    <%= "Yes" %>
  <% else %>
    <%= "No" %>
  <% end %></td>
</tr>

<tr>
  <td class="title-cell"><b>Created by</b></td>
  <td><%= @ref_data_table.created_by %></td>
</tr>

<tr>
  <td class="title-cell"><b>Created date time</b></td>
  <td><%= @ref_data_table.created_at %></td>
</tr>

<tr>
  <td class="title-cell"><b>Updated by</b></td>
  <td><%= @ref_data_table.updated_by %></td>
</tr>

<tr>
  <td class="title-cell"><b>Updated date time</b></td>
  <td><%= @ref_data_table.updated_at %></td>
</tr>
</table>
</div>
<br/>
<div id="lower-menu">
  <p><%= link_to 'Edit', edit_ref_data_table_path(@ref_data_table) %> &middot;
<%= link_to 'Back', ref_data_tables_path %></p>
</div>